* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* box-sizing: border-box; */
}

p {
    font-family: 'Inconsolata', monospace;
    text-align: justify;
    text-align-last: center;
}

nav ul {
    border: solid 1px red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*header*/ li a{
    /* display: block; */
    text-decoration: none;
    color: black;
}

/*header*/ li a:hover{
    background-color: yellow;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
    text-align: center;
}

.thema_img {
    width: 100vw;
    height: 500px;
    background: rgba(0,0,0.5) url(../images/kapadocja.JPG) no-repeat center / cover padding-box border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thema_img h1 {
    font-family: 'Cinzel', serif;
}

.exemplary_content {
    padding-top: 50px;
    height: 400px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    /* border: red solid 5px; */
}

.exemplary_item {
    /* border: green solid 5px; */
    
}

.about_me {
    border: green solid 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    overflow: hidden;
    justify-items: center;
    
}

.me_img {
    border: pink solid 5px;
    min-height: 200px;
    background: white url(../images/me2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    transition: all 0.2s ease-in-out;
}

.me_img:hover
{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}