* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(260deg, #fff 0%, #2376ae 100%);
    background-size: cover;
    /* padding-bottom: 60px; */
    /* height: 100%; */
    position: relative;
}

p {
    font-family: 'Inconsolata', monospace;
    text-align: justify;
    text-align-last: center;
    padding: 15px;
}

img {
    max-width: 100%;
  }

nav ul {
    /* border: solid 1px red; */
    z-index: 100;
    background: rgba(255, 193, 30, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a{
    text-decoration: none;
    color: black;
}

nav li a:hover{
    background-color: yellow;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
    text-align: center;
}

.thema_img {
    width: 100vw;
    height: 500px;
    background: rgba(0,0,0.5) url(../images/kapadocja.JPG) no-repeat center / cover padding-box border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thema_img h1 {
    font-family: 'Cinzel', serif;
}

.main_container
{
    /* border: red solid */
    /* position: relative; */
    /* min-height: 100vh; */
}

.exemplary_content {
    /* min-height: 400px;
    position: relatvie; */
    left: 200px;
    padding-top: 50px;
    /* height: 400px; */
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    /* border: red solid 5px; */
}

.exemplary_item {
    /* border: green solid 5px; */
    /* position: absolute; */
    
}

.main_pane {
    display: flex;
    flex-direction: column;
}

.main_pane_gallery {
    /* display: flex; */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    /* justify-items: end; */
}

.main_pane_gallery h1 {
    grid-column: 1 / -1;
    /* align-items: center; */
  }

  .main_pane_gallery p {
    grid-column: 1 / -1;
  }

  .contact_form {
      display: flex;
      flex-direction: column;
  }
  
  .contact_form > textarea {
    /* padding-left: 15px; */
    flex: 1;
  }

.side_item {
    /* z-index: 100; */
    /* border: green solid 5px; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    
}

.about_me {
    background:rgba(255, 193, 30,0.9);
    margin:20px;
    padding:20px;
    border-radius: 4px;
    text-align: center;
}

.img_helper {
    overflow: hidden;
}

.me_img {
    /* border: pink solid 5px; */
    min-height: 200px;
    background: white url(../images/me2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    transition: all 0.2s ease-in-out;
}

.me_img:hover
{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.blog_entries {
    background:rgba(255, 193, 30,0.9);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin:20px;
    padding:20px;
    border-radius: 4px;
    /* text-align: center; */
    padding-bottom: 100px;
    /* position: relative; */
}

.snap1 {
    animation-name: scale;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.snap2 {
    animation-name: opacity;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 8s;
}

.snap3 {
    animation-name: rotate;
    animation-duration: 4s; /* or: Xms */
    animation-iteration-count: 1;
    animation-direction: alternate; /* or: normal */
    animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
    animation-fill-mode: forwards; /* or: backwards, both, none */
    animation-delay: 18s; /* or: Xms */
}

.snap4 {
    position:relative;
    height:auto;
    width:100%;
    margin:0 auto;
  }

.snap4 img{
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.snap4 img.top {
    animation-name: overlay;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-delay: 24s;
}

.snap5 {
    animation-name: skew;
    animation-duration: 4s; 
    animation-iteration-count: 1;
    animation-direction: alternate; 
    animation-timing-function: ease-out; 
    animation-fill-mode: forwards; 
    animation-delay: 36s;
}

@keyframes skew {
    from {
        transform: scale(0.8) rotate(-360deg) skew(-10deg, 0deg);
      }
      to {
        transform: scale(1.0);
      }
      
  }

@keyframes scale {
    0%  {
        transform: scale(1.2);
      }
      50%  {
        transform: scale(0.9);
      }
      100% { transform: scale(1.0);}
      
  }

  @keyframes opacity {
    0%   { opacity: 1; }
    100% { opacity: 0; }      
  }

  @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
  }

  @keyframes overlay {
    0% {
    opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
  }

footer {
    background-color: #0088b6;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
 }